<!DOCTYPE html>
<html>
<head>
  <title><%= windowTitle %> - Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <header>
    <h1><a class="header-logo" href="/">Vinyl</a></h1>
    <span>
      <% if(isLoggedIn) { %>
        <a href="/users/me">Profile</a>
        <a href="/signout">Sign out</a>
      <% } else { %>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
      <% } %>
    </span>
  </header>
