<%- include('header') -%>
  <h2>Sign Up</h2>

  <% if(error) { %>
    <h3><%= error %></h3>
  <% } %>

  <div class="signup">
    <form action="/signup" method="post">
      <input type="text" placeholder="Name" name="name"><br>
      <input type="email" placeholder="Email" name="email"><br>
      <input type="password" placeholder="Password" name="password"><br>
      <input type="submit" value="Sign Up">
    </form>
  </div>
<%- include('footer') -%>
