<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <div class="header">
    <h1>Vinyl</h1>
    <span>
      <a href="signup">Sign Up</a>
      <a href="signin">Sign In</a>
    </span>
  </div>

  <h2>Sign Up</h2>

  <% if(error) { %>
    <h3><%= error %></h3>
  <% } %>

  <div class="signup">
    <form action="/signup" method="post">
      <input type="text" placeholder="Name" name="name"><br>
      <input type="email" placeholder="Email" name="email"><br>
      <input type="password" placeholder="Password" name="password"><br>
      <input type="submit" value="Sign Up">
    </form>
  </div>

</body>
</html>
