html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

a, a:visited {
  color: black;
}

a:hover {
  color: red;
}

footer {
  margin: 5vw 3vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3vw;
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid black;
}

.header-logo {
  text-decoration: none;
}

.index {
  margin: 0;
  padding: 0 3vw;
}

.index img {
  width: 94vw;
  height: 35vw;
}

.splash {
  text-align: center;
}

.splash img {
  width: 94vw;
}

.profile {
  display: flex;
}
